/**
    Writepad v1.0.0-beta3
    Copyright 2023 Cyril John Magayaga
*/
@media (prefers-color-scheme: light) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .cyflex-body {
        height: 94.1vh;
        display: flex;
        border-top: 0.25px solid #66595C;
    }
    
    .cyflex-body1 {
        border-top: 0.25px solid #66595C;
    }
    
    .text-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-right: 0.25px solid #555;
    }
    
    textarea {
        resize: none;
        outline: none;
        width: 100%;
        height: 50%;
        font-size: 18px;
        padding: 10px;
        font-family: 'Cascadia Code';
    }
    
    .preview-area {
        width: 50%;
        display: flex;
    }
    
    .preview-area iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    
    .cyflex-biggest {
        width: 100%;
        height: 100%;
    }
    
    /* Add a black background color to the top navigation */
    .cyflex-menubar {
        background-color: white;
        overflow: hidden;
        font-family: "Cascadia Code";
      }
      
      /* Style the links inside the navigation bar */
      .cyflex-menubar p {
        float: left;
        color: black;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 15px;
      }
      
      /* Change the color of links on hover */
      .cyflex-menubar p:hover {
        background-color: wheat;
        color: #66595C;
      }
    
      .cyflex-menubar a:hover {
        background-color: black;
        color: white;
      }
      
      /* Add a color to the active/current link */
      .cyflex-menubar p.active {
        background-color: #66595C;
        color: white;
      }
    
      .cyflex-menubar p.right {
        background-color: #66595C;
        color: white;
        float: right;
    }
    
    .cyflex-border {
        border-top: 0.25px solid #66595C;
    }
    
    table {
        width: 100%;
        height: 100%;
    }
    
    .cyflex-cycode-body {
        text-align: center;
    }
    
    .cyflex-cycode-logo {
      width: 35vmin;
      height: auto;
    }
    
    .cyflex-cycode-header {
      min-height: 94vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Cascadia Code";
      font-size: calc(10px + 2vmin);
      color: blanchedalmond;
      background-image: linear-gradient(to bottom right, #66595C, #caa500);
    }
    
    .active-one {
      background-color: #e2d300;
      color: white;
    }
    
    .max {
      width: 100%;
      height: 100%;
    }
    
    .cyflex-save {
      background-color: #000000;
      border: transparent;
      color: white;
      text-align: center;
      padding: 10px 12px;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Cascadia Code';
    }
    
    .navbar {
      overflow: hidden;
      background-color: #333;
      font-family: Arial;
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 15px;
      border: none;
      outline: none;
      color: white;
      padding: 10px 12px;
      background-color: #eba930;
      font-family: inherit;
      margin: 0;
    }
    
    .dropbtn1 {
      font-size: 15px;
      border: none;
      outline: none;
      color: white;
      padding: 10px 12px;
      background-color: black;
      font-family: inherit;
      margin: 0;
    }
    
    .dropdown:hover .dropbtn {
      background-color: black;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content1 {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content1 .a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content1 .a:hover {
      background-color: black;
    }
    
    .dropdown:hover .dropdown-content1 {
      display: block;
    }
    
    .dropdown-content .a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content .a:hover {
      background-color: black;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .img1 {
      padding-right: 5px;
      height: 1%;
      width: auto;
    }
    
    .img2 {
      height: 0.75%;
      width: auto;
      padding-right: 4px;
      padding-left: 4px;
    }

    .img3 {
      height: 1%;
      width: auto;
      padding-right: 4px;
      padding-left: 4px;
    }
  }